html, body{
  background: url('./img/bg.jpeg') no-repeat center center/cover;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}


.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  background-color: #eee;
}
.round-img{
  border-radius: 50%;
}

.card-holder{
  display: inline-block;
}

.searchBar{
  margin: 50px;
  margin-bottom: 0px;
}

.spinner{
  min-height: 10px;
}
